<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreamy Desks</title>
</head>
<body>
    <h1>All Setups</h1>
    <header>       
        <a href="/setups/new">Post yours!</a>
   </header>
    <ul>
        <% for(let setup of setups) { %> 
            <li><a href="/setups/<%= setup._id %>"> <%= setup.title %></a></li>
        <% } %> 
    </ul>
</body>
</html>