<% layout('layouts/boilerplate') %> 
<h1>All Setups</h1>
<header>       
    <a href="/setups/new">Post yours!</a>
</header>
<ul>
    <% for(let setup of setups) { %> 
        <li><a href="/setups/<%= setup._id %>"> <%= setup.title %></a></li>
    <% } %> 
</ul>