<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post your Setup!</title>
</head>
<body>
    <form action="/setups" method="POST">
        <label for="setup-title">Title:</label>
        <input type="text" id="setup-title" name="setup[title]" placeholder="Title name...">
        <label for="setup-description">Description:</label>
        <input type="text" id="setup-description" name="setup[description]" placeholder="Tell us more about your setup...">
        <label for="setup-tags">Tags:</label>
        <input type="text" id="setup-tags" name="setup[category]" placeholder="'work', 'apple', 'gaming', 'leisure'">
        <button>Share Setup!</button>
    </form>

    <a href="/setups">back</a>
</body>
</html>