<% layout('layouts/boilerplate') %> 
    <form action="/setups" method="POST">
        <label for="setup-title">Title:</label>
        <input type="text" id="setup-title" name="setup[title]" placeholder="Title name...">
        <label for="setup-description">Description:</label>
        <input type="text" id="setup-description" name="setup[description]" placeholder="Tell us more about your setup...">
        <label for="setup-tags">Tags:</label>
        <input type="text" id="setup-tags" name="setup[category]" placeholder="'work', 'apple', 'gaming', 'leisure'">
        <label for="setup-image">Tags:</label>
        <input type="text" id="setup-image" name="setup[image]" placeholder="Image link here..">
        <button>Share Setup!</button>
    </form>

    <a href="/setups">back</a>
