<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Post your Setup!</h1>
    <div class="col-6 offset-3">
        <form action="/setups" method="POST">
            <div class="form-input mb-2">
                <label for="setup-title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="setup-title" name="setup[title]" placeholder="Title name...">
            </div>
            <div class="form-input mb-2">
                <label for="setup-description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="setup-description" name="setup[description]" placeholder="Tell us more about your setup...">
            </div>
            <div class="form-input mb-2">
                <label for="setup-tags" class="form-label">Tags:</label>
                <input type="text" class="form-control" id="setup-tags" name="setup[category]" placeholder="'work', 'apple', 'gaming', 'leisure'">
            </div>
            <div class="form-input mb-2">
                <label for="setup-image" class="form-label">Image:</label>
                <input type="text" class="form-control" id="setup-image" name="setup[image]" placeholder="Image link here..">
            </div>
            <button class="btn btn-success">Share Setup!</button>
            <a href="/setups" class="btn btn-primary">back</a>
        </form>
    </div>
</div>
